<!DOCTYPE html>
<html lang="ja">
  <%- include('../components/_head'); %>
  <body id="wrapper">
    <section class="c-panel" style="margin-top: 400px;">
      <%- include('../components/_cheesetart'); %>
    </section>
    <section class="c-panel">
      <%- include('../components/_price'); %>
    </section>
    <section class="c-panel" style="margin-top: -20.5vw;">
      <%- include('../components/_howtoeat'); %>
    </section>
    <!-- <section class="c-panel">
      <%- include('../components/_philosophy'); %>
    </section> -->
    <section class="c-panel">
      <%- include('../components/_shops'); %>
    </section>
    <section class="c-panel">
      <%- include('../components/_news'); %>
    </section>
    <section class="c-panel">
      <%- include('../components/_contact'); %>
    </section>
    <%- include('../components/_footer'); %>
    <script src="js/bundle.js" defer></script>
  </body>
</html>
